.container {
  width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-title {
  font-family: Roboto;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
  padding-top: 63px;


  color: #000000;
}

.header-title .next-title {
  color: #4bcaff;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.main-nav-item {
  list-style: none;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.main-nav-item:last-child {
  border-right: 1px solid white;
}

.nav-list {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  padding-top: 64px;
  border-radius: 1px;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 26px;
  padding-bottom: 19px;
  padding: 26px 40px 19px 40px;

}

.header-menu {
  background: #35444f;
  margin-top: 38px;
}

.section {
  display: flex;
  padding-top: 48px;
}

main {
  width: 1280px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.0001);
  display: flex;
}

.nav-list:hover {
  background: #222f3a;

}

.left-sight-bar {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

.left-menu-list {
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 26px 0px 26px 44px;
  list-style: none;
  display: block;
  color: #485863;
}

.main-photo {
  display: flex;
}

.left-menu {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  min-width: 344px;
  max-height: 399px;
}

.main-image {
  padding-left: 52px;
}

.main-block-image {
  border: 1px solid #000000;
}

.main-img {
  padding: 75px 268px 73px 297px;
}


.left-menu-list {
  font-size: 27px;
  color: #485863;
}

.left-menu-list:hover {
  color: #000000;
  font-weight: 700;

}

.left-menu-item:hover {
  background: #dbdbdb;
  padding: 0 0 0 20px;
}

.main-description-text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 37px;
}

.main-description-text .second {
  display: flex;
  align-items: center;
}

footer {
  margin: 0 auto;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 21px;
  width: 928px;
}

.footer-list-link {
  text-decoration: none;
  font-size: 28px;
  line-height: 28px;

  color: #0c1927;
}

.footer-list-link:hover {
  border-bottom: 1px solid #6295AE;
  padding-bottom: 5px;
  color: #6295AE;
}

.copyright {
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding-right: 40px;

}